@media screen and (max-width: 1700px) {
  .container-fragmen-cursos {
    padding: 0 85px;
  }
}

@media screen and (max-width: 1380px) {
  .container-fragmen-cursos {
    padding: 0 85px;
  }
  .curso-item {
    grid-template-columns: 547px 1fr;
  }
  .container-mis-cursos,
  .container-cursos-content {
    font-size: 13px;
  }
  .container-insig-user {
    padding: 20px 30px;
    width: 370px;
  }
  .imagen-user-curso {
    width: 70px;
    height: 70px;
  }
  .container-selec-curso {
    width: 25px;
    height: 25px;
    top: 4px;
    right: 0;
  }
  .contaienr-selec-curso .icon-checkmark {
    font-size: 15px;
  }

  .container-etiquetas-curso p {
    padding: 5px 15px;
  }
  .container-contenido-curso {
    padding-bottom: 20px;
  }
  .container-cursos-content-home {
    font-size: 13px;
  }
}

@media screen and (max-width: 1262px) {
  .curso-item {
    grid-template-areas:
      "titulo titulo"
      "video contenido";
    grid-template-rows: auto 300px;
  }
  .container-etiquetas-curso p {
    padding: 3px 10px;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 1050px) {
  .curso-item {
    grid-template-areas:
      "titulo"
      "video"
      "contenido";
    grid-template-rows: auto 432px;
    grid-template-columns: 1fr;
  }
  .container-multimedia {
    margin-right: 0;
  }
  .contenido-curso-video {
    margin-top: 15px;
  }
}

@media screen and (max-width: 930px) {
  .curso-item {
    grid-template-rows: auto 386px;
  }
}
@media screen and (max-width: 900px) {
  .container-user-cursos {
    display: initial;
  }
  .title-cursos {
    margin-bottom: 30px;
  }
  .container-insig-user {
    width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 790px) {
  .curso-item {
    grid-template-rows: auto 320px;
  }
  .container-fragmen-cursos {
    padding: 0 40px;
  }
}
@media screen and (max-width: 630px) {
  .container-cursos-content {
    font-size: 12px;
  }
  .curso-item {
    grid-template-rows: auto 260px;
    padding: 40px 25px;
  }
  .container-contenido-curso {
    padding-bottom: 0;
  }
  .contenido-curso-video {
    line-height: 25px;
  }
  .container-insig-user {
    padding: 15px 25px;
  }
}
@media screen and (max-width: 540px) {
  .curso-item {
    grid-template-rows: auto 200px;
  }
}
