:root {
  --tituloHero: "Pacifico", cursive;
  --titulos: "Dosis";
}
body {
  position: relative;
}

/* Estilos Hero  */
.hero {
  margin-top: 80px;
  font-size: 16px;
  box-shadow: 0px 3px 6px #00000029;
  background: white;
  height: 100%;
  display: flex;
  margin-top: 40px;
  background-image: url("./assets/fondoHero.svg");
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
}
.title-hero {
  color: white;
  font-size: 3.7em;
  margin-bottom: 30px;
  font-weight: bold;
}
.contenido-hero {
  width: 40%;
  padding: 50px;
  padding-left: 125px;
}
.text-hero {
  color: white;
  font-size: 1.3em;
  line-height: 40px;
  margin-bottom: 60px;
}
.hero-img {
  /* width: 55%; */
}
.a-button {
  width: 145px;
  text-align: center;
}

/* Estilos seccion academic */
.container-academic {
  font-size: 16px;
  margin: 45px 0;
  text-align: center;
}
.title-academic {
  color: #08224a;
  font-size: 2.7em;
  font-family: var(--titulos);
  font-weight: bold;
}
.subtitle-academic {
  font-size: 1.6em;
  font-weight: 300;
  color: #2e2e2e;
}
.container-cards-academic {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  gap: 25px;
  margin-top: 55px;
}
.container-card-academic {
  box-shadow: initial;
  padding: 45px 25px 65px 25px;
  color: #9eb14d;
}
.container-card-academic .icon-academia,
.container-card-academic .icon-profesor,
.container-card-academic .icon-cultivar,
.container-card-academic .icon-orquidea {
  font-size: 4.8em;
  color: #08224a;
}
.container-card-academic:nth-child(odd) {
  /* color: #c36a96; */
  box-shadow: 0px 3px 6px #00000029;
  background: white;
}
.title-card-academic {
  font-size: 1.6em;
  padding: 10px 20px;
  color: #08224a;
}
.content-card-acedemic {
  color: #4a4a4a;
  font-size: 1.2em;
  margin-top: 30px;
  line-height: 2.1em;
}

/* Estilos principios */
.container-principios {
  font-size: 16px;
  background-image: url(./assets/backgrounPrincipios.png);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  padding: 60px 0;
}
.container-box-dos {
  max-width: 1700px;
  margin: 0 auto;
}
.container-principios-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
}
.title-principios {
  color: white;
  font-size: 2.7em;
  font-family: var(--titulos);
  margin-bottom: 40px;
}
.container-valores {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.85);
  padding: 70px 0;
}
.container-item-valor {
  width: 20%;
  margin-right: 60px;
  text-align: center;
}
.container-item-valor:last-child {
  margin-right: 0;
}
.container-item-valor i {
  font-size: 4.8em;
  color: #373737;
}

.title-valor {
  font-size: 1.6em;
  margin: 15px 0;
  color: #373737;
  font-weight: bold;
}
.content-valor {
  font-size: 1.2em;
  color: #4a4a4a;
  line-height: 35px;
}

/* Estilos Apoyo-promociones  */
.container-apoyo-promociones {
  font-size: 16px;
  margin-top: 45px;
}
.container-apoyo {
  padding: 55px 0 60px 0;
  position: relative;
  overflow: hidden;
}
.container-apoyo-promociones::before {
  content: " ";
  margin: 0 90px;
  display: block;
  background: #727272;
  height: 1px;
}
.title-apoyo-opinion {
  text-align: center;
  color: #727272;
  font-size: 2.7em;
  font-family: var(--titulos);
  margin-bottom: 40px;
}
.icon-envelop {
  font-size: 4.5em;
  color: #727272;
}
.color-apoyo {
  color: #727272;
}
.back-apoyo {
  background: white;
  box-shadow: 0px 3px 6px #00000029;
}

/* Estilos opiniones */

.container-opiniones {
  display: flex;
  height: 100%;
  transition: transform 0.4s ease-in-out;
}
.container-arrow-left {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: calc(50% - 30px);
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #00000030;
  z-index: 5;
}
.container-arrow-right {
  z-index: 5;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: calc(50% - 30px);
  right: 0;
  background: #00000030;
}

.container-arrow-left:hover,
.container-arrow-right:hover {
  background: #00000070;
}
.icon-keyboard_arrow_left {
  font-size: 30px;
  color: #363434;
}
.arrow-rotate {
  transform: rotate(180deg);
}

.container-opinion {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}
.container-imagen-opinion {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.imagen-opinion {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  object-fit: cover;
}
.text-opinion {
  color: #4a4a4a;
  font-size: 1.3em;
  margin: 45px 0 35px 0;
  width: 35%;
  text-align: center;
}
.text-user-opinion {
  color: #4a4a4a;
  font-weight: bold;
}

@media screen and (max-width: 1600px) {
  .container-apoyo-promociones::before {
    margin: 0 50px;
  }
  .container-box-dos {
    max-width: 1366px;
  }
}
@media screen and (max-width: 1380px) {
  .hero {
    font-size: 14px;
    margin-top: 27px;
  }
  .title-hero {
    line-height: 52px;
  }
  .text-hero {
    line-height: 30px;
  }
  .container-academic {
    font-size: 12px;
  }
  .container-cursos-destacados {
    font-size: 13px;
  }
  .container-apoyo-promociones {
    font-size: 13px;
  }
  .container-principios {
    font-size: 13px;
  }
  .container-box-dos {
    max-width: 1100px;
    padding: 0 45px;
  }
  .container-cards-academic {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .title-card-academic {
    padding: 10px 0;
  }
}
@media screen and (max-width: 475px) {
  .container-card-academic .icon-academia,
  .container-card-academic .icon-profesor,
  .container-card-academic .icon-cultivar,
  .container-card-academic .icon-orquidea {
    font-size: 4em;
  }
  .container-item-valor i {
    font-size: 4em;
  }
  .container-imagen-opinion {
    width: 100px;
    height: 100px;
  }
  .container-arrow-left,
  .container-arrow-right {
    width: 35px;
    height: 35px;
  }
  .icon-keyboard_arrow_left {
    font-size: 20px;
  }
}
